



p {
    color: rgb(30, 103, 72);
    font-family: Arial, sans-serif;
}


.box {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}

#miniB {
    color: red;
    font-weight: bold;
}

a[href] {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

a:active {
    color: orange;
}
a:visited{
    background-color: black;
}

#A {
    padding: 20px; 
    margin: 15px;  
    border: 3px dashed blue; 
}

#B {
    
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    
    margin: 20px;
    border: 4px solid orange;
    background-image:url(pictures/labAdult.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 30px;
    padding-left:300px;
    padding-top: 100px;
    
}

#C {
    padding: 15px;
    margin: 10px;
    border: 5px dotted purple;
   

}

#D {
    width:100px;
    padding: 40px 10px 10px;
    margin: 15px;
    border: 2px solid green;
}

