/** 

An element with position: absolute is removed from the normal document flow and is positioned relative to the nearest positioned ancestor.

“Positioned ancestor” = the nearest parent element that has position: relative, absolute, fixed, or sticky.

If no such ancestor exists, it will position itself relative to the initial containing block (usually the <html> or <body> element, i.e., the viewport).
**/



.box{
width: 100px; 
height: 100px;
border: solid;
background-color: red;
text-align: center;
}

#miniB{
    background:yellow;
    width: 50px; 
    height: 50px;
    border: solid;
    position:absolute;
    left:50px;
    
}

#B{
 position: relative;
 top: 300px;
 left: 300px;
}