.box{
width: 100px; 
height: 100px;
border: solid;
background-color: red;
text-align: center;
}

#miniB{
    background:yellow;
    width: 50px; 
    height: 50px;
    border: solid;
    
}

#B{
  position: fixed;
  background: blue;
  inset-block-start: 500px;
  inset-inline-start: 30px;
}