
/**DEMO ONE**/

.box{
width: 100px; 
height: 100px;
border: solid;
background-color: red;
text-align: center;
}

#miniB{
    background:yellow;
    width: 50px; 
    height: 50px;
    border: solid;
    
}


static 
#B {
  background: blue;
  position: static;
  top: 50px;
  left: 50px;
  
}


/**/



/**
Static represents the origional positioning of the element in the document. 
static will ignore any positioning that comes after it. 
It is a redundant form of positioning. 
So why use it? 

Well static positioning has its benefits. 
If you are using dynamic positioning it is a great way to reset your content to a normal flow.
Dynamic HTML and CSS displays are a little outside of the module scope, so this wont be covered in depth. 
When looking at some wider frameworks or tools static positioning can be used as a way to tell developers that this element does not have any positioning applied to it spesifically. 
Sometimes you don't want elements to move independantly - you want them to stack naturally - static can help code this in. 


**/


/*

